.todoList
  background: white
  border: 1px solid #E1315A
  border-radius: 5px
  overflow: hidden
  width: 100%
  box-shadow: 0px 3px 1px -2px rgba(225, 49, 90, 0.2), 0px 2px 2px 0px rgba(225, 49, 90, 0.14), 0px 1px 5px 0px rgba(225, 49, 90, 0.12)
  h1
    text-align: center
    border-bottom: 1px solid #E1315A
    padding-bottom: 20px
    margin-bottom: 0
