.todoItem
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid #E1315A
  padding: 5px
  transition: .2s

  &:hover
    background: rgba(225, 49, 90, 0.04)
    transition: .2s
    cursor: default
  &:nth-last-child()
    border-bottom: none
  .todoItem_content
    width: 100%
    max-width: 452px
    p
      padding-left: 5px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
